html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  height: 100vh;
  background-color: #c44536;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__container {
  display: grid;
  grid-template: repeat(3, 50%) / 100%;
  width: 80%;
}

.main__title {
  margin: 3em;
  align-self: center;
  text-align: center;
  font-size: 2.5em;
  color: #edddd4;
  text-shadow: 1px 2px 3px black;
}

.btn {
  text-align: center;
}

.btn-small {
  background-color: transparent;
  padding: 0.5em;
  border: 1px solid #edddd4;
  border-radius: 1px;
  color: #edddd4;
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  text-shadow: 1px 2px 2px black;
  outline: none;
}

.btn-small:active {
  transform: translateY(2px);
  box-shadow: 1.5px 2px 3px black;
  outline: none;
}

.quote {
  font-size: 2.5em;
  color: #edddd4;
  text-shadow: 1px 2px 3px black;
  text-align: center;
}

.author {
  font-size: 1.5em;
  color: #edddd4;
  text-shadow: 1px 1px 3px black;
  text-align: center;
}
